.home-content {
  flex: 1;
  position: relative;
  width: 100%;
  height: 300px; 
  background-color: #111;
  overflow: visible;
}

.home-content-text h1 {
  font-size: 44px;
  padding-top: 40px;
  padding-left: 50px;
  font-family: "Determination";
  color: white;
}

.home-content-text p {
  font-size: 44px;
  padding-top: 10px;
  padding-left: 50px;
  font-family: "Determination";
  color: white;
}

.cover-photo {
  width: 100%;
  height: 500px;
  background-image: url('/assets/images/crossroads.jpg'); 
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid black;
}
