@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.home-content {
  position: relative;
  width: 100%;
  height: 300px; 
  background-color: #111;
  overflow: visible;
}

.home-content-text {
  padding-top: 40px;
  padding-left: 50px;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.home-content-text p {
  font-size: 17px;
  color: #bfbfbf;
}

.cover-photo {
  width: 100%;
  height: 500px;
  background-image: url('/assets/images/crossroads.jpg'); 
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid black;
}

.profile-picture {
  position: absolute;
  right: 70px; 
  bottom: -400px; 
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 4px solid #222; 
  object-fit: cover;
  background-color: #000;
}
