.skills-content {
  flex: 1;
  padding: 60px 40px;
  text-align: center;
  color: #fff;
  font-family: "Minecraftia";
}

.skills-title {
  text-align: center;
  font-family: "Minecraftia";
  flex-basis: 100%;
  font-size: 2.5rem;
  margin-top: 60px;
  color: white; 
  font-weight: bold;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-items: center;
}

.skill-card {
  background-color: #1e1c1b;
  border-radius: 15px;
  padding: 25px 20px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%; 
  background-color: #262423;
}

.skill-card h3 {
  padding-top: 10px;
  font-size: 1.1rem;
  color: #00ff7f;
  margin-bottom: 10px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #00ff7f, #00b894);
  border-radius: 10px;
  transition: width 1.2s ease;
}


.skill-card:hover .progress {
  filter: brightness(1.3);
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 255, 127, 0.25);
}
