@font-face {
  font-family: 'Minecraftia';
  src: url('/assets/fonts/minecraftia/Minecraftia-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Determination";
  src: url('/assets/fonts/pixel_operator/PixelOperator-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #262423;
    line-height: 1.6;
}

header {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  opacity: 90%;
  color: #fff;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #222;
  padding: 0 50px;
  position: relative;
}

.main-nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.main-nav-links a {
  padding-top: 20px;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: white;
  text-decoration: none;
  font-family: "Minecraftia";
  transition: color 0.3s;
  font-size: 15px;
}

.main-nav-links a:hover {
  color: #00ff00;
}

.main-nav-links a.active {
  opacity: 1;
  color: #00ff00;
}

.logo {
  background-color: #222;
  width: 100px;
  height: 50px;
  background-image: url('/assets/icons/logo-removebg-preview.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px; /* hide text */
  overflow: hidden;
  position: absolute;
  left: 1px;
}

footer {
  background-color: #262423;
  color: white;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 0; 
  margin: 0; 
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;        
}
footer p {
  margin: 0; 
  line-height: 1; 
}
