.projects-content {
  flex: 1;
  padding: 60px 40px;
  text-align: center;
  color: #fff;
  font-family: "Minecraftia";
}

.projects-title {
  text-align: center;
  font-family: "Minecraftia";
  flex-basis: 100%;
  font-size: 2.5rem;
  margin-top: 60px;
  color: white; 
  font-weight: bold;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-items: center;
}

.project-card {
  background-color: #1e1c1b;
  margin-top: ;
  border-radius: 15px;
  padding: 25px 20px;
  width: 100%;
  max-width: 240px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%; 
  background-color: #262423;
}

.project-card h3 {
  font-size: 1.2rem;
  color: #00ff7f;
  margin-bottom: 6px;
}

.project-card p {
  font-size: 0.9rem;
  color: #ccc;
  line-height: 1.3;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 255, 127, 0.25);
}

