.games-card {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 20px;
  margin-top: 20px;
  margin-left: -100px;
  justify-items: center;
}

.games-card a {
  display: block;
  width: 100%;
  aspect-ratio: 2.5 / 4;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.games-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.games-card a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}