h3 {
  text-align: center;
  font-family: "Minecraftia";
  padding-top: 100px;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

.shows-and-movies-card {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 20px;
  margin-top: 20px;
  padding: 0 40px 60px 40px;
  justify-items: center;
}

.shows-and-movies-card a {
  display: block;
  width: 100%;
  aspect-ratio: 2.5 / 4;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shows-and-movies-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.shows-and-movies-card a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}