.interests-content {
  flex: 1;
}

.vertical-tabs {
  position: fixed;       
  top: 80px;                      
  width: 200px;  
  height: 100%;        
  background-color: #111; 
  display: flex;
  flex-direction: column;
  z-index: 900;
  overflow-y: auto; 
}
.vertical-tabs .tab button {
  display: block;
  background-color: transparent;
  color: #ccc;           
  padding: 25px 20px 20px 20px;
  border: 2px solid #333;   
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Minecraftia";
  transition: background 0.3s, color 0.3s, border 0.3s;
}

.vertical-tabs .tab button:hover {
  background-color: #222;
  color: #fff;
  border-color: #555;          
}

.vertical-tabs .tab button.active {
  background-color: #238636;
  color: #fff;    
  border-right-color: #111; 
}

.tabcontent {
  margin-left: 320px;       
  padding: 20px;
  display: none;
  color: #eee;
  font-family: "Minecraftia";
}

h3 {
  text-align: center;
  font-family: "Minecraftia";
  padding-top: 100px;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  margin-left: -100px;
}

.title-icon {
  width: 100px;
  height: 100px;
}